<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98189055342-v5mlibb0rbnhg06hp5t98cepjjv78ndt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98189055342-v5mlibb0rbnhg06hp5t98cepjjv78ndt</string>
	<key>API_KEY</key>
	<string>AIzaSyDJIszwkwAvYfSRp64iybkf5QRZ2Pp1xJo</string>
	<key>GCM_SENDER_ID</key>
	<string>98189055342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartbrick</string>
	<key>PROJECT_ID</key>
	<string>m1-smartbrick</string>
	<key>STORAGE_BUCKET</key>
	<string>m1-smartbrick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98189055342:ios:74080344eea9ba77ca5d7f</string>
</dict>
</plist>